<div id="demo-modal" class="micromodal micromodal-slide" aria-hidden="true" data-size="small">
  <div tabindex="-1" class="mm__overlay" data-micromodal-close>
    <div class="mm__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title" >
      <button class="mm__close" aria-label="Close modal" data-micromodal-close>{%- render 'icon', icon: 'close' -%}</button>
      <div id="modal-1-content" class="mm__content">
        <h2 id="modal-1-title" class="mm__title h4">
          Modal Title
        </h2>
        <div class="mm__content-inner">
          Modal Content
        </div>
        <div class="mm__actions">
          <button class="button">Action button</button>
        </div>
      </div>
    </div>
  </div>
</div>
